<p>list works!</p>
<h3>Listado de heroes</h3>
<div *ngIf="deletedHero; else nothigWasDeleted">
  <h3>
    Ultimo Heroe Borrado
    <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>


<ng-template #nothigWasDeleted >
  <h3>No ha borrado nada</h3>
</ng-template>

<button
*ngIf="heroes.length > 0"
(click)="removeLastHero()" class="btn btm-outline-danger">
  Borrar ultimo heroe
</button>
<ul class="mt-2 list-group">
  <li *ngFor="let name of heroes" class="list-group-item">
    {{ name }}
  </li>
</ul>
